@{
    ViewBag.Title = "Thanh Toán Thành Công";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="container">
    <h2>Thanh toán thành công!</h2>
    <p>Đơn hàng của bạn đã được xử lý thành công. Vui lòng kiểm tra email để nhận thông tin chi tiết.</p>
    <a href="@Url.Action("HienThiSanPhamNem", "Us_Product")" class="btn btn-primary">Quay lại trang chủ</a>
</div>
